{% extends "events/layout.html" %}
{% include "events/macros.html" %}

{% block title %}{{ gettext("Event Map") }}{% endblock %}

{% block body %}

  <br/><br/>

  <button class="go-home">Home</button>
  <button class="go-add-event">Add Event</button>
  <button class="go-event-list">Event List</button>

  <br/><br/>

  <div class="ui-wrapper ui-body">
    <iframe id="events-embed" scrolling="no" style="border:0;" src="http://localhost:1981/index.html?embedded=true" width="100%"></iframe>
  </div>

{% endblock %}

{% block footer %}{% endblock %}
