<div id="appmaker">
  <section id="appmaker-carousel">
    <carousel interval="5000">
      <slide class="slide" ng-repeat="audience in audiences">
        <div class="container text-center">
          <img src="{{audience.image}}" alt="{{audience.title | i18n}}">
        </div>
      </slide>
      <div id="front-phone-container">
        <div class="container text-center">
          <img src="/img/appmaker/hand-phone.svg">
        </div>
      </div>
    </carousel>
    <div class="container text-center">
      <h1>{{'Make an app for your' | i18n}} <span id="app-audience" data-show="{{!!showAudienceTitle}}">{{audiences[currentSlideIndex].title | i18n}}</span>.</h1>
      <p id="sub-heading">{{'Appmaker Sub Heading' | i18n}}</p>
      <p>
        <a href="#starter-apps" class="btn btn-success btn-lg">{{'Pick a template' | i18n}}</a>
        <a href="//apps.webmaker.org/{{lang}}/designer" class="btn btn-info btn-lg">{{'Start from scratch' | i18n}}</a>
      </p>
    </div>
  </section>
  <section name="starter-apps" id="starter-apps">
    <div class="container">
      <p class="lead text-center">{{'Don\'t know where to start?' | i18n}}</p>
      <div class="row">
        <div class="col-sm-4" ng-repeat="make in makes">
          <div class="thumbnail-wrapper" style="background-image:url({{make.image}})"></div>
          <div class="caption">
            <h3>{{make.title | i18n}}</h3>
            <p>{{(make.title + ' Description') | i18n}}</p>
            <p>
              <a href="{{make.remixUrl}}" class="btn btn-primary" role="button">
                <span class="fa fa-code-fork"></span> Remix
              </a>
              <a href="{{make.playUrl}}" class="btn btn-info" role="button">
                <span class="fa fa-mobile"></span> Play
              </a>
              <a href="{{make.installUrl}}" class="btn btn-warning" role="button">
                <span class="fa fa-gears"></span> Install
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div id="gallery-actions">
      <a class="load-more" href="/{{lang}}/search?type=tags&q=appmaker">{{'See more' | i18n}} <span class="icon-angle-down"></span></a>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/teach.png" alt="{{'Teach' | i18n}}">
          <h2>{{'Teach' | i18n}}</h2>
          <p>{{'Teach Description' | i18n}}</p>
          <p>
            <a href="https://jess.makes.org/thimble/MTMyMzM2ODQ0OA==/mobile-design-kit" class="btn btn-info" role="button">
              <span class="fa"></span> {{'See how' | i18n}}
            </a>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/contribute.png" alt="{{'Contribute' | i18n}}">
          <h2>{{'Contribute' | i18n}}</h2>
          <p>{{'Contribute Description' | i18n}}</p>
          <p>
            <a href="//github.com/mozilla-appmaker/appmaker/wiki/How-to-Contribute" class="btn btn-info" role="button">
              <span class="fa"></span> {{'Get started' | i18n}}
            </a>
          </p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/imagine.png" alt="{{'Imagine' | i18n}}">
          <h2>{{'Imagine' | i18n}}</h2>
          <p>{{'Imagine Description' | i18n}}</p>
          <p>
            <a href="//mozilla.github.io/mobile-opportunity/" class="btn btn-info" role="button">
              <span class="fa"></span> {{'Learn more' | i18n}}
            </a>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<footer>
  <div class="container text-center">
    <p class="lead hidden-xs">{{ 'Mozillaian like you' | i18n }}</p>
    <ul class="sponsors list-inline hidden-xs" marquee>
      <li>Chicago Community Trust</li>
      <li>Chicago Instructional Technology Foundation</li>
      <li>City of Chicago</li>
      <li>Corporation for Public Broadcasting</li>
      <li>U.S. Department of Energy</li>
      <li>Ford Foundation</li>
      <li>Google</li>
      <li>Intel</li>
      <li>Knight Foundation</li>
      <li>MacArthur Foundation</li>
      <li>National Endowment for the Arts</li>
      <li>NESTA</li>
      <li>The Nominet Trust</li>
      <li>National Science Foundation</li>
      <li>Ontario Trillium Foundation</li>
      <li>Social Science Research Council</li>
      <li>Alfred P. Sloan Foundation</li>
      <li>Telefonica</li>
      <li>ZeroDivide</li>
    </ul>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-left">
        <form name="emailForm" action="https://sendto.mozilla.org/page/s/webmaker" method="post" novalidate>
          <div class="input-group">
            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
            <input class="form-control" type="email" ng-model="emailUpdates" name="email" autocomplete="off"  required placeholder="{{ 'Sign up for email updates' | i18n }}" >
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" ng-disabled="emailForm.$invalid || !emailPrivacy">
                <span class="fa fa-chevron-right"></span>
              </button>
            </span>
          </div><!-- /input-group -->
          <div class="checkbox" ng-show="emailUpdates" >
            <label for="newsletter-signup-checkbox-proxy">
              <input type="checkbox" ng-model="emailPrivacy" name="custom-1216" required> {{ "privacy-desc" | i18n }} <a href="/{{ lang }}/privacy" target="_blank">{{ "privacy policy" | i18n }}</a>.
            </label>
          </div>
        </form>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->
  </div>
</footer>
<nav class="navbar navbar-no-header-xs navbar-tertiary">
  <div class="container">
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="mailto:help@webmaker.org">{{ 'Contact' | i18n }}</a></li>
        <li><a href="https://sendto.mozilla.org/page/contribute/join-mozilla?source=join_link">{{ 'Donate' | i18n }}</a></li>
        <li><a href="/{{lang}}/privacy">{{ 'Privacy' | i18n }}</a></li>
        <li><a href="/{{lang}}/terms">{{ 'Legal' | i18n }}</a></li>
        <li><a href="https://support.mozilla.org/products/webmaker">{{ 'Help' | i18n }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitter.com/webmaker"><span class="fa fa-twitter"></span> @webmaker</a></li>
        <li><a href="https://plus.google.com/u/2/communities/106022863174952221205"><span class="fa fa-google-plus"></span> {{ 'google+' | i18n }}</a></li>
        <li><a href="http://blog.webmaker.org"><span class="fa fa-file-text-o"></span> {{ 'Blog' | i18n }}</a></li>
      </ul>
    </div>
  </div>
</nav>
