<div id="appmaker">
  <section id="appmaker-carousel">
    <carousel interval="5000">
      <slide class="slide" ng-repeat="audience in audiences">
        <div class="container text-center">
          <img src="{{audience.image}}" alt="{{audience.title | i18n}}">
        </div>
      </slide>
    </carousel>
    <div class="container text-center">
      <h1>{{'Make an app for your' | i18n}} <span id="app-audience" data-show="{{!!showAudienceTitle}}">{{audiences[currentSlideIndex].title | i18n}}</span>.</h1>
      <p id="sub-heading">{{'Appmaker Sub Heading' | i18n}}</p>
      <p>
        <a href="#" class="btn btn-success btn-lg">{{'Pick a template' | i18n}}</a>
        <a href="#" class="btn btn-info btn-lg">{{'Start from scratch' | i18n}}</a>
      </p>
    </div>
  </section>
  <section id="starter-apps">
    <div class="container">
      <p class="lead">{{'Don\'t know where to start?' | i18n}}</p>
      <div class="row">
        <div class="col-sm-4" ng-repeat="make in makes">
          <div class="thumbnail-wrapper" style="background-image:url({{make.image}})"></div>
          <div class="caption">
            <h3>{{make.title | i18n}}</h3>
            <p class="text-muted">Created by @dasd</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic expedita labore voluptatem, quam ullam necessitatibus saepe tempore eum? Id dolorum minus cumque ducimus dolores, unde necessitatibus ut aut? A, quo.</p>
            <p>
              <a href="#" class="btn btn-primary" role="button">
                <span class="fa fa-code-fork"></span> Remix
              </a>
              <a href="#" class="btn btn-danger" role="button">
                <span class="fa fa-heart"></span><span class="sr-only">Like</span>
              </a>
            </p>
          </div>
        </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/teach.png" alt="{{'Teach' | i18n}}">
          <h2>Teach</h2>
          <p>Want to show others how to make mobile apps? Want to get people thinking about mobile design? Check out our teaching material!</p>
          <p><a href="">See how</a></p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/contribute.png" alt="{{'Contribute' | i18n}}">
          <h2>Contribute</h2>
          <p>Help us turn Appmaker into something truly amazing by contributing your time and expertise to the project.</p>
          <p><a href="">Get started</a></p>
        </div>
        <div class="col-sm-4 text-center">
          <img class="maker-party-logo" src="/img/appmaker/imagine.png" alt="{{'Imagine' | i18n}}">
          <h2>Imagine</h2>
          <p>Join us in shaping the future of the web and the mobile platform. We are empowering a generation of new users to create the content and functionality that matters most to them.</p>
          <p><a href="">Learn more</a></p>
        </div>
      </div>
    </div>
  </section>
</div>
