{% extends "layout.html" %}

{% include 'macros.html' %}

{% block title %}Home{% endblock %}
{% block midbar %}
<!-- check for search right when page loads -->
{{ galleryHeader("Make Something with Webmaker.", "We're a global community that doesn't just use the web, we <em>make</em> it by creating, remixing and teaching. <a href='/login'>Sign up</a> and start making!",
      [ {'title': 'Filter projects by...', 'value': 'dummy', 'default': true },
       { 'title': 'Featured', 'value': 'featured' },
       { 'title': 'Popcorn', 'value': 'popcorn' },
       { 'title': 'Thimble', 'value': 'thimble' } ]) }}
{% endblock %}
{% block body %}
<div class="ui-wrapper">
 <div class="main-gallery">
    <!-- Packery helper stuff -->
    <div class="gutter-sizer"></div>
    <div class="no-makes-found">No makes were found!</div>
    <div class="loading-cat g-4"></div>

    <!-- STICKY BANNER -->
    <div id="banner-join" class="packery-hide stamp" >
      <div class="rotator">
        <h2 style="display: block;">The web is still open.<br> Hack it.</h2></div><div class="join-border"></div><div class="join-signin"><span class="join-claim">Claim your Webmaker domain.</span><span class="btn-join-container"><a href="/login" class="ui-blue-btn btn-signin">Sign in<i class="icon-angle-right"></i></a></span>
      </div>
    </div>
    {% for make in makes %}
      {% if make %}
        {% include "make-templates/make-flip.html" %}
      {% endif %}
    {% endfor %}
  </div>
</div>


{% endblock %}
{% block require_page %}pages/index{% endblock %}
{% block scripts %}
<script type="text/javascript">
var hash = window.location.hash;
if( hash.length > 0 ) {
  var tag = hash.slice(1);
  window.location = window.location.origin + '/t/' + tag;
}
</script>
{% endblock %}


