{% extends "layout.html" %}
{% block title %}{{ gettext("Teach the web") }}{% endblock %}
{% block body %}
<section class="hero-section">
  <article>
    <div class="illustration"><img src="/img/foxes.png"></div>
    <div class="text">
      <h1>We teach the web.</h1>
      <h2>Together we’re spreading web skills and digital literacy — through fun making, sharing, and getting together at parties around the world.</h2>
      <p>
        <button class="green-button">Teach</button>
        <button class="white-button">Learn</button>
      </p>
    </div>
  </article>
</section>
<section class="mentor-stories">
  <article>
    <quote>“I was excited about people being able to build things online, that one person in their basement could reach a million people around the world.”</quote>
  </article>
</section>
{% endblock %}
