/*********************************************************
* Appmaker
*/

#appmaker {
  section {
    padding: 40px 0;
  }

  section:first-child {
    padding-top: 0;
    #front-phone-container {
      position: absolute;
      top: 0;
      width: 100%;
      height: auto;
      z-index: 10;

      img {
        display: block;
        margin: 0 auto;
      }
    }
  }

  section#starter-apps {
    background-color: rgb(227, 236, 241);

    .thumbnail-wrapper {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      height: 480px;
    }

    .thumbnail-wrapper, .caption {
      width: 320px;
    }
  }

  #appmaker-carousel {
    background-color: white;

    .carousel-control {
      display: none;
    }

    .carousel-indicators {
      bottom: 16%;
    }
  }

  #app-audience {
    padding: 0 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
    display: inline-block;

    min-width: 6em;

    -webkit-transition: color .5s;
    transition: color .5s;

    &[data-show="true"] {
      color: black;
    }

    &[data-show="false"] {
      color: transparent;
    }
  }

  #sub-heading {
    font-size: 1.4em;
    font-style: italic;
  }
}

