<div class="jumbotron explore-jumbotron explore-jumbotron-add">
  <div class="container">
    <h1>Nominate a teaching resource</h1>
    <p>Want your teaching kit or activity to be <strong>featured on webmaker.org</strong>? Submit it here.</p>
  </div>
</div>

<div class="container">

  <form name="resourceForm">
    <div class="form-group">
      <label for="title">Title</label>
      <input ng-model="new.title" name="title" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="url">Url</label>
      <input ng-model="new.url" name="url" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea ng-model="new.description" name="description" class="form-control"></textarea>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="language">Language</label>
          <select ng-model="new.language" name="language" class="form-control"
            ng-options="lang for lang in langs">
          </select>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="author">Author</label>
          <input ng-model="new.author" name="author" class="form-control" required>
        </div>
      </div>
    </div>
    <p><button ng-click="submit()" class="btn btn-primary">Submit</button></p>
  </form>

  <p>Your teaching kit will get submitted to the queue!</p>

</div>
